@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jersey+10&display=swap');

:root {
  --bg: #0f0f0f;
  --surface: #131313;
  --surface-secondary: #161616;
  --border-s: #1e1e1e;
  --border-def: #222222;
  --text-primary: #e0e0e0;
  --text-sec: #888888;
  --text-muted: #555555;
  --accent: #c05635;
  --accent-light: #d4837d;
  --accent-tint: #1c1530;
  --accent-sec: #34b134;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  color: var(--text-primary);
  font-family: "DM Sans";
}
button {
  background-color: transparent;
}
button:hover {
  cursor: pointer;
  background-color: #161616;
}
input, textarea, select {
  width: 35%;
  padding: 12px;
  color: var(--bg);
  font-size: 1.2rem;
}
option {
  color:#0f0f0f;
}
.submit {
  padding: 12px;
  background-color: var(--accent);
  color: var(--text-primary);
  font-size: 1.2rem;
}
.submit:hover {
  background-color: var(--accent-light);
}
.active {
  background-color: var(--border-def);
  border-left: 5px solid var(--accent );
}
.active:hover {
  background-color: var(--border-def);
}
.accent {
  color: var(--accent);
  font-weight: 800;
}
.muted {
  color: var(--text-muted);
}
.main {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 7fr;
}
.left {
  grid-column: 1;
  background-color: var(--surface);
  border: 1px solid var(--border-def);
  display: flex;
  flex-direction: column;
}
.header {
  height: 70px;
  padding: 12px 18px;
  font-family: "DM Sans";
  font-weight: 200;
  color: var(--text-primary);
  font-size: 2rem;
  border-bottom: 1px solid var(--border-def);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right {
  grid-column: 2;
  background-color: var(--bg);
  border: 1px solid var(--border-def);
  display: flex;
  flex-direction: column;
}
.left button {
  height: 50px;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: left;
  padding-left: 18px;
}
.left p {
  color: var(--text-muted);
  padding: 8px;
  font-weight: 900;
  margin-top: 70px;
  margin-left: 12px;
  user-select: none;
}
.controls {
  margin-left: auto;
  margin-right: 20px;
}
.controls button, #add-task {
  margin: 12px auto;
  padding: 12px;
  font-weight: 600;
  background-color: var(--accent);
  border: 1px solid var(--border-def);
  border-radius: 12px;
  max-width: 100px;
}
.controls button:first-of-type {
  margin-right: 12px;
}
.controls button:hover, #add-task:hover {
  background-color: var(--accent-light);
}
#add-album {
  background-color: var(--surface-secondary);
  color: var(--text-sec);
}
#add-album:hover {
  background-color: var(--border-s);
}
.songs {
  display:  grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: auto;
  max-height: 92vh;
}
.releases, .tasks {
  grid-column: 1;
  border-right: 1px solid var(--border-def)!important;
  height: 92vh;
  display: flex;
  flex-direction: column;
}
.releases *, .tasks * {
  margin: auto;
}
.tasks {
  display: block;
}
.current {
  grid-column: 2;
  min-height: 92vh;
  padding: 5%;
}
.tasks .task {
  margin-top: 24px;
  width: 40%;
  min-height: 70px;
  background-color: var(--surface-secondary);
  text-align: left;
  padding: 12px;
  border: 2px solid var(--border-def);
  border-radius: 18px;
  position: relative;
}
.update { 
   position: absolute;
  top: 10px;
  right: 50px;
  background-image: url(./assets/edit-icon-light.png);
  width: 35px;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: contain;
    filter:brightness(0.5);

}
.delete {
  position: absolute;
  top: 10px;
  right: 12px;
  background-image: url(./assets/delete-icon-light.png);
  width: 35px;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: contain;
  filter:brightness(0.5);
}
.vignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000034;
}
.view {
  width: 60%;
  min-height: 80vh;
  margin: 10vh auto;
  padding: 5%;
  background-color: var(--surface-secondary);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.view * {
  margin: 12px auto;
}
.exit {
  position: absolute;
  top: 0px;
  left: 12px;
  width: 50px;
  height: 50px;
  font-weight: 900;
  font-size: 1.3em;
  border-radius: 50%;
}
.exit:hover {
  background-color: var(--border-def);
}
.task-title {
  font-family: "DM Mono";
  color: var(--text-primary);
  font-weight: 500;
  font-size: 1.3rem;
}
.task-content {
  font-family: "DM Mono";
  color: var(--text-sec);
}
.no-task {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.release-group {
  margin-top: 20px;
  width: min(400px, 70%);
}
.release-item {
  width: 100%;
  padding: 12px;
  background-color: var(--surface-secondary);
  border: 2px solid var(--border-def);
  border-radius: 12px;
  font-size: 1.1rem;
  font-family: "DM Sans";
  font-weight: 400;
}
.release-group .song-item {
  margin-left: 24px;
  margin-top: -2px;
  border-radius: 0;
}
.release-group .song-item:not(.song-item ~ .song-item) {
  border-top-right-radius: 12px;
}
.release-group .song-item:last-of-type {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.selected {
  background-color: var(--border-def);
}

.view-info {
  display: flex;
  flex-direction: row;
  margin: 10px 0px 15px 0px;
}
.info {
  padding: 6px;
  background-color: var(--surface-secondary);
  border: 2px solid var(--border-def);
  border-radius: 12px;
  color: var(--accent-light);
}
.info:first-child {
  margin-right: 10px;
}
li {
  list-style: none;
  padding: 10px 0px;
  color: var(--text-sec);
  border-bottom: 1px solid var(--border-s);
  width: 150px;
}
li:hover {
  color: var(--text-primary);
  cursor: pointer;
}
li:last-of-type {
  border: none;
}
.add-sec {
  margin-top: 15px;
  padding: 12px;
  font-weight: 600;
  background-color: var(--accent);
  border-radius: 12px;
}
.add-sec:hover {
  background-color: var(--accent-light);
}
.non-empty {
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
  background-color: var(--surface-secondary);
  border: 2px solid var(--border-s);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.section {
  width: 90%;
  background-color: var(--surface-secondary);
  border: 2px solid var(--border-s);
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 20px;
}
.sec-name {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--text-muted);
}
.sec-content {
  white-space: pre-wrap;
  line-height: 2;
}
.crud-btn {
  border: 1px solid red;
}